head(lang='en')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/style.css')
  //UIKIT CSSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css')
  //UIKIT JS
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/js/uikit.min.js')
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/js/uikit-icons.min.js')
  link(href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet')
