extends ../layout

block content
  nav.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand.mb-0.h1(href="#") Notuno
    a.nav-link.ml-auto(href="./users/login") Login/Register

  .container
    .row.jusify-content-center
      .col-6
        h1 Notuno !{user}
        p Play Uno online with friends.
      .col-6 
        button(href='./users/lobby').btn.btn-primary Play Online
